.Layout {
    margin: 50px;
    padding: 40px;
    width: 80%;
    max-width: 500px;
    background: black;
    border-radius: 50px;
    max-height: 702px;
}
.Header {
    display: flex;
    justify-content: center;
}
.Logo {
    background: url('./images/starwars.jpg') center center no-repeat;
    background-size: contain;
    width: 500px;
    height: 150px;
    text-align: center;
}