.Characters {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.Error {
    margin: 30px;
    display: flex;
    justify-content: center;
    color: #F7E955;
}