.App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url("./vlcsnap-2018-06-29-13h57m41s318_4x.jpg") 100% no-repeat;
    background-size: cover;
    min-height: 100vh;
}