.App {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("./Containers/unnamed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
